ul{
    margin: 0 auto;
}


#logomarca-footer{
    width: 20%;
}
.footer-text{
    color: white;
}

#github{
    width: 2.5%;
    text-align: right;
}
#linkedin{
    width: 2.5%;
    text-align: right;
}
#logo{
    width:45%;
    margin-left: 1rem;
}